.custom-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #888;
  margin-top: 25px;
}

.custom-select select {
  display: block;
  width: 250px;
  min-height: 35px;
  background: #cbe7ff;
  border-radius: 3px;
  border: 2px solid #2196f3;
  outline: none;
  padding: 0 20px 0 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: #11436b;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 96%;
  position: absolute;
  left: 2%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-select .selector-options li:hover {
  background: #03a9f4;
}

/* Custom Input Styles */

.custom-field {
  position: relative;
  outline: none;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition:
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.custom-field .error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px;
}

.custom-field .error-message:empty {
  opacity: 0;
}

/* ONE */
.custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: #222;
  background: #fff;
  width: auto;
}

/* TWO */
.custom-field.two input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #222, #222) center bottom/0% 0.15em no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat
    ;
  transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  background-size:
    100% 0.15em,
    100% 0.1em,
    100%;
}


/* THREE */
.custom-field.three {
  --draw-duration: 0.1s;
  --draw-color: #222;
  --draw-line-width: 2px;
  --draw-easing: linear;
}

.custom-field.three .rect_border {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 3px;
}

.custom-field.three .rect_border::after, 
.custom-field.three .rect_border::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  border-radius: 3px;
}

.custom-field.three .rect_border::before {
  left: 0;
  bottom: 0;
  border-right: 0px solid var(--draw-color);
  border-bottom: 0px solid var(--draw-color);
  transition: 
    border 0s linear calc(var(--draw-duration) * 4),
    height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2),
    width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
}

.custom-field.three .rect_border::after {
  right: 0;
  top: 0;
  border-left: 0px solid var(--draw-color);
  border-top: 0px solid var(--draw-color);
  transition: 
    border 0s linear calc(var(--draw-duration) * 2),
    height var(--draw-duration) var(--draw-easing),
    width var(--draw-duration) var(--draw-easing) var(--draw-duration);
}

.custom-field.three input:focus ~ .rect_border::before,
.custom-field.three input:not(:placeholder-shown) ~ .rect_border::before,
.custom-field.three input.dirty ~ .rect_border::before,
.custom-field.three input:focus ~ .rect_border::after,
.custom-field.three input:not(:placeholder-shown) ~ .rect_border::after,
.custom-field.three input.dirty ~ .rect_border::after {
  width: 100%;
  height: 100%;
  border-width: var(--draw-line-width);
}

.custom-field.three input:not(:placeholder-shown) ~ .rect_border::before,
.custom-field.three input.dirty ~ .rect_border::before,
.custom-field.three input:focus ~ .rect_border::before {
  transition-delay: 0s, var(--draw-duration), 0s;
}

.custom-field.three input:not(:placeholder-shown) ~ .rect_border::after,
.custom-field.three input.dirty ~ .rect_border::after,
.custom-field.three input:focus ~ .rect_border::after {
  transition-delay: 
    calc(var(--draw-duration) * 2), 
    calc(var(--draw-duration) * 3), 
    calc(var(--draw-duration) * 2);
}

/* Border Shape */

.triangle {
  width: 50;
  height: 50;
  margin-top: 10px;
  border-left: 60px solid green;
  /* border-right: 60px solid transparent; */
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}

.triangle_2 {
  width: 0;
  height: 0;
  margin-top: 10px;
  border-right: 20px solid green;
  /* border-right: 60px solid transparent; */
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.oval_2 {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}

/* Box Shadows */

.shadow_border {
  box-sizing: border-box;
  /* Border bottom, top, left, right */
  /* box-shadow:
    0 4px 0 0 orange,
    0 -4px 0 0 red,
    -4px 0 0 0 green,
    4px 0 0 0 black;  */

  /* border all sides */
  /* box-shadow: 0 0 0 4px; */

  border-left: 4px solid orange;
  border-right: 4px solid red;
  border-top: 4px solid green;
  border-bottom: 4px solid black;
}

.awesome_shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.15) 0px 2px 4px,
      rgba(0, 0, 0, 0.15) 0px 1px 3px;
  }
}

/* Tooltip Container */
.tooltip-button {
  margin-top: 50px;
  padding: 8px 15px;
  background: #a3e;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.tooltip[data-tip]:not([data-tip=""]) {
  position: relative;
  --tooltip-color: #fff;
  --tooltip-bg: rgba(0,0,0,0.9);
}

.tooltip[data-tip]:not([data-tip=""]).light {
  --tooltip-color: rgba(0,0,0,0.9);
  --tooltip-bg: #eee;
}

.tooltip[data-tip]:not([data-tip=""]).no-pointer::after {
  display: none;
}

.tooltip[data-tip]:not([data-tip=""])::before {
  content: attr(data-tip);
  position: absolute;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  padding: 15px 10px;
  border-radius: 3px;
  max-width: 300px;
  width: 250%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: calc(100% + 12px);
}

.tooltip[data-tip]:not([data-tip=""])::after {
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--tooltip-bg);
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 0);
}

.tooltip[data-tip]:not([data-tip=""])::before,
.tooltip[data-tip]:not([data-tip=""])::after {
  opacity: 0;
  visibility: hidden;
  transition: 
    visibility 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
  transition-delay: 0.1s;
  z-index: 1000;
}

.tooltip[data-tip]:not([data-tip=""]):hover::before,
.tooltip[data-tip]:not([data-tip=""]):hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

/* TOP LEFT */
.tooltip[data-tip]:not([data-tip=""]).top-left::before,
.tooltip[data-tip]:not([data-tip=""]).top-left::after {
  transform: translate(0);
}

.tooltip[data-tip]:not([data-tip=""]).top-left::before {
  left: 0;
}

.tooltip[data-tip]:not([data-tip=""]).top-left::after {
  left: 5px;
}

/* TOP RIGHT */
.tooltip[data-tip]:not([data-tip=""]).top-right::before,
.tooltip[data-tip]:not([data-tip=""]).top-right::after {
  transform: translate(-100%, 0);
}

.tooltip[data-tip]:not([data-tip=""]).top-right::before {
  left: 100%;
}

.tooltip[data-tip]:not([data-tip=""]).top-right::after {
  left: calc(100% - 5px);
}

/* BOTTOM */
.tooltip[data-tip]:not([data-tip=""]).bottom-left::before,
.tooltip[data-tip]:not([data-tip=""]).bottom-right::before,
.tooltip[data-tip]:not([data-tip=""]).bottom::before,
.tooltip[data-tip]:not([data-tip=""]).bottom-left::after,
.tooltip[data-tip]:not([data-tip=""]).bottom-right::after,
.tooltip[data-tip]:not([data-tip=""]).bottom::after {
   bottom: 0;
}

.tooltip[data-tip]:not([data-tip=""]).bottom::before {
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
}

.tooltip[data-tip]:not([data-tip=""]).bottom-left::after,
.tooltip[data-tip]:not([data-tip=""]).bottom-right::after,
.tooltip[data-tip]:not([data-tip=""]).bottom::after {
  left: 50%;
  transform: translate(-50%, 10px);
  border-color: transparent;
  border-bottom-color: var(--tooltip-bg);
}

/* BOTTOM LEFT */
.tooltip[data-tip]:not([data-tip=""]).bottom-left::before {
  left: 0;
  transform: translate(0, calc(100% + 10px));
}

.tooltip[data-tip]:not([data-tip=""]).bottom-left::after {
  left: 5px;
  transform: translate(0, 10px);
}

/* BOTTOM RIGHT */
.tooltip[data-tip]:not([data-tip=""]).bottom-right::before {
  left: 100%;
  transform: translate(-100%, calc(100% + 10px));
}

.tooltip[data-tip]:not([data-tip=""]).bottom-right::after {
  left: 100%;
  transform: translate(calc(-100% - 5px), 10px);
}

/* LEFT */
.tooltip[data-tip]:not([data-tip=""]).left::before,
.tooltip[data-tip]:not([data-tip=""]).left::after,
.tooltip[data-tip]:not([data-tip=""]).left-top::before,
.tooltip[data-tip]:not([data-tip=""]).left-top::after,
.tooltip[data-tip]:not([data-tip=""]).left-bottom::before,
.tooltip[data-tip]:not([data-tip=""]).left-bottom::after {
    left: 0;
}

.tooltip[data-tip]:not([data-tip=""]).left::before,
.tooltip[data-tip]:not([data-tip=""]).left::after {
  bottom: 50%;
}

.tooltip[data-tip]:not([data-tip=""]).left::before {
  transform: translate(calc(-100% - 10px), 50%);
}

.tooltip[data-tip]:not([data-tip=""]).left-top::after,
.tooltip[data-tip]:not([data-tip=""]).left-bottom::after,
.tooltip[data-tip]:not([data-tip=""]).left::after {
  transform: translate(-10px, 50%);
  border-color: transparent;
  border-left-color: var(--tooltip-bg);
}

/* LEFT TOP */
.tooltip[data-tip]:not([data-tip=""]).left-top::before,
.tooltip[data-tip]:not([data-tip=""]).left-top::after {
  bottom: 100%;
}

.tooltip[data-tip]:not([data-tip=""]).left-top::before {
  transform: translate(calc(-100% - 10px), 100%)
}

.tooltip[data-tip]:not([data-tip=""]).left-top::after {
  transform: translate(-10px, calc(100% + 5px));
}

/* LEFT BOTTOM */
.tooltip[data-tip]:not([data-tip=""]).left-bottom::before,
.tooltip[data-tip]:not([data-tip=""]).left-bottom::after {
  bottom: 0;
}

.tooltip[data-tip]:not([data-tip=""]).left-bottom::before {
  transform: translate(calc(-100% - 10px));
}

.tooltip[data-tip]:not([data-tip=""]).left-bottom::after {
  transform: translate(-10px, -5px);
}

/* RIGHT */
.tooltip[data-tip]:not([data-tip=""]).right-bottom::before,
.tooltip[data-tip]:not([data-tip=""]).right-top::before,
.tooltip[data-tip]:not([data-tip=""]).right::before {
  left: calc(100% + 10px);
}

.tooltip[data-tip]:not([data-tip=""]).right::before {
  bottom: 50%;
  transform: translate(0, 50%);
}

.tooltip[data-tip]:not([data-tip=""]).right-top::after,
.tooltip[data-tip]:not([data-tip=""]).right-bottom::after,
.tooltip[data-tip]:not([data-tip=""]).right::after {
  left: calc(100% - 2px);
  bottom: 50%;
  transform: translate(0, 50%);
  border-color: transparent;
  border-right-color: var(--tooltip-bg);
}

/* RIGHT TOP */
.tooltip[data-tip]:not([data-tip=""]).right-top::before,
.tooltip[data-tip]:not([data-tip=""]).right-top::after {
  bottom: 100%;
}

.tooltip[data-tip]:not([data-tip=""]).right-top::before {
  transform: translate(0, 100%);
}

.tooltip[data-tip]:not([data-tip=""]).right-top::after {
  transform: translate(0, 15px);
} 

/* RIGHT BOTTOM */
.tooltip[data-tip]:not([data-tip=""]).right-bottom::before,
.tooltip[data-tip]:not([data-tip=""]).right-bottom::after {
  transform: translate(0);
}

.tooltip[data-tip]:not([data-tip=""]).right-bottom::before {
  bottom: 0;
}

.tooltip[data-tip]:not([data-tip=""]).right-bottom::after {
  bottom: 5px;
}

/* Custom Dropdown */

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown-toggle {
  appearance: none;
  background: #3f51b5;
  color: #fff;
  border: 0;
  padding: 12px 35px 12px 12px;
  border-radius: 3px;
  text-align: left;
  position: relative;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

.dropdown .dropdown-toggle::after {
  content: "";
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}

.dropdown .dropdown-menu {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 1px 4px rgba(150, 150, 150, 0.65);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  max-width: 320px;
  width: calc(100% + 24px);
  border-radius: 3px;
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  max-height: 200px;
}

.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown .dropdown-menu > li {
  height: 35px;
  display: block;
  align-items: center;
  padding: 10px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown .dropdown-menu > li:hover,
.dropdown .dropdown-menu > li:focus {
  outline: none;
  background: #f2f2f2;
}

/* button group */

.wrapper.button {
  margin: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  outline: none;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 35px;
  width: 85px;
}

.wrapper#btn-1 {
  border: 0;
  background: #ddd;
  color: #222;
}

.wrapper#btn-2 {
  background: #222;
  color: #ddd;
}

@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

.custom-notification-wrapper * {
  box-sizing: border-box;
}

.custom-notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: radial-gradient(circle, #a3e, #23e);
}

.notification-triggers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
}

.trigger-btn {
  width: calc((100% / 3) - 15px);
  background: #222;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.notification-container {
  --not-size: 400px;
  --animation-time: 2s;
  --gap: 25px;
  position: absolute;
  top: calc(var(--gap) * 4);
  left: 0px;
  width: var(--not-size);
  opacity: 0;
  transform: translateX(calc(var(--not-size) * -1));
  animation: not_slide_in var(--animation-time) forwards;
}

@keyframes not_slide_in {
  50% {
    transform: translateX(calc(var(--gap) + 50px));
  }
  100% {
    transform: translateX(var(--gap));
    opacity: 1;
  }
}

.notification-message {
  position: absolute;
  background-image: repeating-linear-gradient(
    45deg,
    #ccc,
    #ccc 10px,
    #fff 10px,
    #fff 20px
  );
  width: var(--not-size);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 20px;
}

.notification-message button {
  background-color: #222;
  color: #fff;
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
