@keyframes slideDown {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.wrapper {
  padding: 0 25px;
  max-width: 425px;
  height: 100vh;
}

.header {
  padding-top: 100px;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #271111;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.cards .card {
  width: calc(50% - 13px);
  height: 150px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-clone {
  background: linear-gradient(135deg, #271111, #feb47b) !important;
}

.cards .card h2 {
  font-size: 24px; /* Increase the font size for the title */
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}

/* .cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.cards .card:active {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
} */

.cards .card h2 {
  margin: 0;
}

.card-content {
  padding: 100px 25px 25px;
  overflow: auto;
  height: 100%;
  color: #fff;
}
.card-content > * {
  transform: translateY(-35px);
  opacity: 0;
}
.card-content h2 {
  font-size: 32px;
  margin-bottom: 35px !important;
  animation: slideDown 0.5s ease-out forwards;
}
.card-content img {
  width: 100%;
  margin-bottom: 10px;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content p {
  color: #271111;
  animation: slideDown 0.5s ease-out 0.4s forwards;
}
